.btn-color{
    background: #B68C5A;
border-radius: 8px;
}
.banner{
    background-image:url("../images/banner.png");
    width: 100%;
    height:34rem;
}
.title{
    font-weight: 700;
font-size: 63px;
}
.btn-search{
    background: #B68C5A;
border-radius: 8px;
}